.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

li:not(.navelement){
  padding: 2px;
  margin-bottom: 10px;
  margin-right: 20px;

  border-width: 1px;
  border-radius: 5px;
  border-color: #414141;
  border-style: solid;

  background-color: #7b829b6c;
  color: #ced0d9;
}

.offer-description {
  padding: 0px 10px;
  display: inline-block;
}

.offer-subject {
  padding: 0px 10px;
  display: inline-block;
  background-color: aqua;
  color:#111;
}

.offer-tags{
  padding: 0px 10px;
  display: inline-block;
  font-size: 0.8em;
  color: gray;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(25, 30, 53);
}

.navelement {
  float: left;
}

.navelement a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navelement a:hover {
  border-radius: 5px 5px 0px 0px;
  background-color: #272e47;
}

.group-members{
  /* padding-left: .5em; */
  margin: .2em .5em;
}
.group-member{
  margin: 0em .2em;
  padding: 0em .3em;
  border: #111;
  border-width: 1px;
  border-style: dotted;
  border-radius: .5em;
}

.add-element{
  display: block;
  margin-left: 20px;
  margin-top: 5px;
}

.search-element{
  margin: 0em .5em;
}

h2{
  padding-left: 10px;
}

.nice-btn{
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  padding: 5px 15px;
  margin-bottom: 10px;

  /* border-color: #ced0d9; */
  border-width: 0px;
  border-radius: 20px;

  background-color: #7b829b6c;
  color: #ced0d9;
}

.nice-btn:hover{
  background-color: #7b829b9c;
}

.group-name, .student-name{
  font-size: 1.3em;
}

.navelement button{
  margin-top: .5em;
}

.user-name{
  margin: .5em .2em .2em .8em;
  padding: .4em;
  border: #111;
  border-width: 2px;
  border-style: solid;
}